.wrapper {
  width: 1065px;
  display: grid;
  margin: 0 auto;
  gap: 12px;

}

.inputValue {
  grid-row: 1/2;
  grid-column: 1/2;
}

.inputIndex {
  grid-row: 2/3;
  grid-column: 1/2;
}

.buttonAddToHead {
  grid-row: 1/2;
  grid-column: 2/3;
}

.buttonAddToTail {
  grid-row: 1/2;
  grid-column: 3/4;
}

.buttonDeleteFromHead {
  grid-row: 1/2;
  grid-column: 4/5;
}

.buttonDeleteFromTail {
  grid-row: 1/2;
  grid-column: 5/6;
}

.buttonAddByIndex {
  grid-row: 2/3;
  grid-column: 2/4;
}

.buttonDeleteByIndex {
  grid-row: 2/3;
  grid-column: 4/6;
}

.output {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  grid-row: 3/4;
  grid-column: 1/6;
  justify-content: center;
}

.circlesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topCircle {
  margin-bottom: 8px;
}

.centralCircle {
  margin-bottom: 38px;
}

.bottomCircle {

}

.hidden {
  visibility: hidden;
}